 <h2>Update Item</h2>
    <form method="POST" action="/task/update/{{_id}}?method=PUT">

        

        <label>Name</label>
        <input type="text" name="name" id="name" value="{{name}}"> <br><br>

        <label>Description</label>
        <textarea id="description" name="description">{{description}}</textarea><br><br>

        <label>Category</label>
        <input type="text" name="category" id="category" value="{{category}}"> <br><br>

        <label>Quantity</label>
        <input type="text" name="quantity" id="quantity" value="{{quantity}}"> <br><br>

        <label>Price</label>
        <input type="text" name="price" id="price" value="{{price}}"> <br><br>

        <label>Picture</label>
        <input type="file" id="picture" name="picture">    <br><br>

        <label>Status</label>
        <select name="status">
            <option value="best">Best</option>
            <option value="notbest">Not Best</option>
            
        </select>
        <br><br>

        <input type="submit" value="Update Task">
    </form>

